/* font-family: "Roboto"; */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoLight.eot");
	src: url("../fonts/Roboto/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoLight.woff") format("woff"),
	url("../fonts/Roboto/RobotoLight.ttf") format("truetype"),
	url("../fonts/Roboto/RobotoLight.svg#RobotoLight") format("svg");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoRegular.eot");
	src: url("../fonts/Roboto/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoRegular.woff") format("woff"),
	url("../fonts/Roboto/RobotoRegular.ttf") format("truetype"),
	url("../fonts/Roboto/RobotoRegular.svg#RobotoRegular") format("svg");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoItalic.eot");
	src: url("../fonts/Roboto/RobotoItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoItalic.woff") format("woff"),
	url("../fonts/Roboto/RobotoItalic.ttf") format("truetype"),
	url("../fonts/Roboto/RobotoItalic.svg#RobotoItalic") format("svg");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"),
	url("../fonts/RobotoBold/RobotoBold.svg#RobotoBold") format("svg");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/RobotoBlack.eot");
	src: url("../fonts/Roboto/RobotoBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Roboto/RobotoBlack.woff") format("woff"),
	url("../fonts/Roboto/RobotoBlack.ttf") format("truetype"),
	url("../fonts/Roboto/RobotoBlack.svg#RobotoBlack") format("svg");
	font-style: normal;
	font-weight: 900;
}
/* font-family: "Helvetica"; */
@font-face {
	font-family: "Helvetica";
	src: url("../fonts/Helvetica/HelveticaRegular.eot");
	src: url("../fonts/Helvetica/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Helvetica/HelveticaRegular.woff") format("woff"),
	url("../fonts/Helvetica/HelveticaRegular.ttf") format("truetype"),
	url("../fonts/Helvetica/HelveticaRegular.svg#HelveticaRegular") format("svg");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "AllertaStencil"; */
@font-face {
	font-family: "AllertaStencil";
	src: url("../fonts/AllertaStencil/AllertaStencil-Regular.eot");
	src: url("../fonts/AllertaStencil/AllertaStencil-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AllertaStencil/AllertaStencil-Regular.woff") format("woff"),
	url("../fonts/AllertaStencil/AllertaStencil-Regular.ttf") format("truetype"),
	url("../fonts/AllertaStencil/AllertaStencil-Regular.svg#HelveticaRegular") format("svg");
	font-style: normal;
	font-weight: normal;
}