/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.header-top {
		text-align: left;
	}
	.worktime {
		float: left;
	}
	.call2skype {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.logo {
		float: left;
	}
	.header-contact {
		float: right;
	}
	.phone {
		float: left;
	}
	.btn-recall {
		float: left;
		margin: 23px 0 25px 30px;
	}
	.firstscreen__title {
		font-size: 51px;
		line-height: 62px;
		text-align: center;
	}
	.form1 {
		width: 457px;
		float: right;
		margin: 0;
	}
	.form1__header {
		font-size: 32px;
		line-height: 38px;
	}
	.form1__title {
		padding: 11px 45px 9px;
	}
	.form1__body-row {
		padding: 19px 36px 10px;
	}
	.list {
		margin: 0 0 4px 0;
		font-size: 16px;
		line-height: 19px;
	}
	.list__item {
		margin-bottom: 11px;
	}
	.list__item-icon {
		font-size: 23px;
		margin-right: 13px;
		position: absolute;
		left: -36px;
	}
	.form1__body-hr1 {
		height: 1px;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #fff;
	}
	.form1__input {
		padding: 18px 16px 14px;
		margin-bottom: 12px;
	}
	.btn-send-firstscreen {
		margin: 1px 0 1px;
		padding: 11px 0 15px;
		font-size: 20px;
		line-height: 24px;
	}
	.data-security {
		margin: -6px 0 0;
		padding-bottom: 13px;
	}
	.tooltip_sale {
		display: block;
	}

}