*::-webkit-input-placeholder {
	color: #888;
	opacity: 1;
}
*:-moz-placeholder {
	color: #888;
	opacity: 1;
}
*::-moz-placeholder {
	color: #888;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #888;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.header {}
.header-top {
	color: #fff;
	min-height: 35px;
	background-color: #02baf1;
	padding: 7px 0;
	text-align: center;
}
.worktime {
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.worktime__note {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	margin-left: 15px;
}
.icon-time {
	font-size: 18px;
	margin-right: 11px;
	vertical-align: sub;
}
.call2skype {
	display: none;
	float: right;
	color: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 11px;
	text-decoration: none;
	padding-bottom: 2px;
}
.call2skype__underline {
	border-bottom: 2px dotted #fff;
}
.call2skype:hover .call2skype__underline {
	border-bottom: none;
}
.icon-skype {
	font-size: 19px;
	margin-right: 9px;
	vertical-align: middle;
}
.header-bottom {
	text-align: center;
}
.logo {
	display: block;
	width: 355px;
	margin: 0 auto;
	padding: 10px 0;
}
.logo__image {
	float: left;
	width: 152px;
	height: 81px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	margin-right: 15px;
}
.logo__text {
	float: left;
}
.logo__name {
	color: #005978;
	font-family: "AllertaStencil", sans-serif;
	font-size: 27px;
	font-weight: 400;
	line-height: 35px;
	margin: 10px 0 3px;
}
.logo__slogan {
	color: #0398c0;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.phone {
	font-family: "Roboto", sans-serif;
	color: #000;
}
.phone__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	margin: 20px 0 3px;
}
.phone__number {
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
}
.btn {
	display: block;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: center;
	padding: 17px 28px;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:    inset 0px -5px 0px 0px rgba(0, 0, 0, 0.12);
	box-shadow:         inset 0px -5px 0px 0px rgba(0, 0, 0, 0.12);
	outline: none;
	border: none;
	background: #ff984d;
	background: -moz-linear-gradient(top,  #ff984d 0%, #f76b1c 100%);
	background: -webkit-linear-gradient(top,  #ff984d 0%,#f76b1c 100%);
	background: linear-gradient(to bottom,  #ff984d 0%,#f76b1c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff984d', endColorstr='#f76b1c',GradientType=0 );
}
.btn-recall {
	margin: 23px 0 25px 0;
}
#form-recall {
	display: none;
}
.header-bottom__line {
	width: 100%;
	height: 6px;
	background-color: #02baf1;
	margin-bottom: 1px;
}
.firstscreen {
	height: 684px;
	background-image: url(../img/bg-firstscreen-mobile.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.firstscreen__title {
	color: #fff;
	font-size: 31px;
	font-weight: 700;
	line-height: 37px;
	text-shadow: 0 4px 0 #004f6a;
	margin: 18px 0 22px;
}
.form1 {
	width: 305px;
	margin: 0 auto;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	position: relative;
}
.form1__header {
	background-color: #00a2d3;
	-webkit-border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	border-radius: 18px 18px 0 0;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
	color: #fff;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	text-align: center;
}
.form1__title {
	padding: 13px 18px;
}
.form1__header:after {
	display: block;
	content: "";
	height: 7px;
	width: 100%;
	background-image: url(../img/zub.svg);
	background-repeat: repeat-x;
	position: relative;
	bottom: -7px;
}
.form1__body {
	background-color: #eaeaea;
	-webkit-border-radius: 0 0 18px 18px;
	-moz-border-radius: 0 0 18px 18px;
	border-radius: 0 0 18px 18px;
	-webkit-box-shadow: inset 0px -8px 0px 0px rgba(139, 139, 139, 0.38);
	-moz-box-shadow:    inset 0px -8px 0px 0px rgba(139, 139, 139, 0.38);
	box-shadow:         inset 0px -8px 0px 0px rgba(139, 139, 139, 0.38);
}
.form1__body-row {
	padding: 14px 20px 0;
}
.list {
	margin: 0 0 5px 0;
	padding: 0 0 0 36px;
	list-style: none;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.list__item {
	display: block;
	position: relative;
	margin-bottom: 13px;
}
.list__item:last-child {
	margin-bottom: 0;
}
.list__item-icon {
	color: #f87122;
	font-size: 19px;
	margin-right: 11px;
	position: absolute;
	left: -30px;
}
.form1__body-hr1 {
	display: none;
}
.form1__body-hr2 {
	height: 1px;
	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #e1e1e1;
}
.form1-firstscreen {
	margin-top: -4px;
}
.form1__input {
	display: block;
	width: 100%;
	padding: 13px 12px 12px;
	background-color: #fff;
	border: 1px solid #0093bf;
	color: #888;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	-webkit-border-radius: 6px;;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.27);
	-moz-box-shadow:    inset 0 3px 0 rgba(0, 0, 0, 0.27);
	box-shadow:         inset 0 3px 0 rgba(0, 0, 0, 0.27);
	outline: none;
	margin-bottom: 6px;
}
.btn-send-firstscreen {
	width: 100%;
	margin: 0;
	padding: 16px 0;
	font-size: 15px;
	line-height: 18px;
}
.data-security {
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
	margin: -2px 0 0;
	padding-bottom: 20px;
}
.data-security__icon {
	color: #848484;
	font-size: 17px;
	margin-right: 10px;
	vertical-align: text-top;
}
.tooltip {
	width: 414px;
	position: absolute;
	bottom: 18px;
	left: -419px;
	background: #fffdfd;
	-webkit-border-radius: 15px;;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-bottom: 2px solid #808080;
	padding: 12px 22px 19px;
}
.tooltip_sale {
	display: none;
}
.tooltip:after, .tooltip:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tooltip:after {
	border-color: rgba(255, 253, 253, 0);
	border-left-color: #fffdfd;
	border-width: 15px;
	margin-top: -15px;
}
.tooltip:before {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #808080;
	border-width: 16px;
	margin-top: -15px;
}
.tooltip__title {
	color: #fb8235;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
}
.tooltip__text {
	margin-bottom: 7px;
}
.list_circle {
	margin: 0;
	padding: 0 0 0 21px;
	color: #1e1e1e;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.list_circle .list__item {
	margin-bottom: 5px;
}
.list__item-icon.icon-circle {
	font-size: 9px;
	color: #f9782a;
	margin-right: 13px;
	position: absolute;
	left: -21px;
	top: 4px;
}
.salesumm {
	color: #d11616;
	font-weight: 700;
}
.advantages {
	color: #1e1e1e;
	padding: 30px 0 12px 0;
}
.advantages__title {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin: 40px 0 12px;
}
.advantages__subtitle {
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}
.advantage {
	font-size: 1px;
	margin-bottom: 20px;
}
.advantage__icon {
	display: inline-block;
	width: 61px;
	height: 61px;
	background-color: #fff;
	border: 4px dotted #e5e5e5;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	text-align: center;
	margin-right: 13px;
}
.advantage__icon > i {
	display: block;
	width: 53px;
	height: 53px;
	font-size: 29px;
	color: #00a2d3;
	background-color: #f1f1f1;
	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	border-radius: 27px;
}
.advantage__icon > i:before {
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
.advantage__info {
	width: 235px;
	display: inline-block;
	vertical-align: middle;
}
.advantage__title {
	font-weight: 700;
	font-size: 17px;
	line-height: 19px;
	margin-bottom: 7px;
}
.advantage__text {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
}



